body {
  margin: 0;
  background: #0d0d0d;
  color: white;
  font-family: Arial, sans-serif;
}

.navbar {
  background: #111;
  padding: 20px;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}

.song-list {
  padding: 20px;
}

.song {
  display: flex;
  align-items: center;
  padding: 10px;
  background: #1a1a1a;
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.song:hover {
  background: #292929;
}

.song img {
  width: 60px;
  height: 60px;
  border-radius: 6px;
  margin-right: 15px;
}

.player {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #111;
  display: flex;
  align-items: center;
  padding: 15px;
  border-top: 1px solid #333;
}

.cover {
  width: 60px;
  height: 60px;
  border-radius: 6px;
  margin-right: 15px;
}

.controls button {
  font-size: 20px;
  margin: 0 10px;
  padding: 10px;
  cursor: pointer;
  background: #222;
  color: white;
  border: none;
  border-radius: 5px;
}
